*.iml
StepAndDraw/.gradle
StepAndDraw/local.properties
StepAndDraw/.idea/workspace.xml
StepAndDraw/.idea/libraries
StepAndDraw/.DS_Store
StepAndDraw/build
StepAndDraw/captures
StepAndDraw/.idea
StepAndDraw/.log
